body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  background-color: black;
  border: red;
  border-style: solid;
}



.App {
  display: flex;
  flex-direction: column;

  width: 100%;
}

header {
  display: flex;
  flex-direction: column;

  background-color: peachpuff;
  border: black;
  border-style: solid;
  min-width: 95vw;
  margin-bottom: 3vh;
}


main {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  

  background-color: #28a9a9;



  min-width: 95vw;
  margin-bottom: 3vh;

}


footer {
  display: flex;
  flex-direction: column;

  background-color: peachpuff;
  border: black;
  border-style: solid;
  min-width: 95vw;
}






.mapbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;


}

/* within mapbox container */
.mapbox-container-map { 
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  height: 100% !important;
  width: 100% !important;

  margin: 0;
  padding: 0;

  border: white;
  border-style: solid;



}























/* .fire-event-list {
  display: flex;
  width:90%;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightcyan;

  border: red;
  border-style: dashed;
}

.fire-event {
  list-style: none;
  
  width: 25vw;
  border: black;
  border-style: solid;
  

} */